#sen{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 30px;
    position: fixed;
    /* top: 100px; */
    background: white;
    margin: auto;
    margin-left: 600px;
    display: block;
}
#grid{
    font-family: sans-serif;
    font-size: 10px;
    display: grid;
    grid-template-columns: repeat(2,450px);
    gap: 20px;
}
input{
    font-family: sans-serif;
    font-size: 10px;
    height: 30px;
    width: 400px;
}
#box>input{
    font-family: sans-serif;
    width: 200px;
}
#zip{
    font-family: sans-serif;
    width: 200px;
}
#ph{
    font-family: sans-serif;
    width: 200px;
}
#pushpa{
    font-family: sans-serif;
    font-size: 10px;
    display: flex;
    margin-top: 50px;

}
#grid1{
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(2,330px);
   grid-area: 50px;
}
#cor{
    font-family: sans-serif;
    width: 150px;
}
#cor1{
    font-family: sans-serif;
    width: 290px;
}
#right{
    font-family: sans-serif;
    height: 450px;
    width: 330px;
    border: 1px solid red;
        position: fixed;
        top: 100px;
        left: 1000px;
        display: block;
}
#radio1,#pay1,#pay2,#pay3{
    font-family: sans-serif;
    margin-left: -180px;
    margin-right: -180px;
}
#font{
    font-size: 10px;
}
#Image>img{
    height: 100px;
    width: 50px;
}
/* #flex1{
    width: 30%;
    border: 1px solid red;
} */
#button{
    height: 30px;
    width: 400px;
    background-color: black;
     margin-top: 300px;
    /* margin-right: 300px; */
    
}
a{
    color: white;
    text-decoration: none;
}
lable{
    margin-left: -250px;
}